﻿@using WebApplication.Models
@model  WebApplication.Models.CatNamesViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Developer Test</h1>

</div>

<div class="row">

    <div class="col-md-4">
        <h2>Female</h2>
        <ul>
            @if (Model.CatnamesWithFemaleOwner != null)
            {
                foreach (var name in Model.CatnamesWithFemaleOwner)
                {
                    <li>@name</li>
                }
            }
        </ul>
      
    </div>
    <div class="col-md-4">
        <h2>Male</h2>
        <ul>
            @if (Model.CatnamesWithMaleOwner != null)
            {
                foreach (var name in Model.CatnamesWithMaleOwner)
                {
                    <li>@name</li>
                }
            }
        </ul>
    </div>
</div>